html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

#pos {
    font-size: 0.97em;
}

::-webkit-scrollbar {
    display: none;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #eee;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* container1 around content */
.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    box-sizing: border-box;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container1 to the left */
.left {
    left: 0;
}

/* Place the container1 to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container1 (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #eee;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #eee;
}

/* Add arrows to the right container1 (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #eee;
    border-width: 10px 10px 10px 0;
    border-color: transparent #eee transparent transparent;
}

/* Fix the circle for container1s on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #eee;
    color: black;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width container1s */
    .container1 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container1::before {
        left: 60px;
        border: medium solid #eee;
        border-width: 10px 10px 10px 0;
        border-color: transparent #eee transparent transparent;

    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right container1s behave like the left ones */
    .right {
        left: 0%;
    }
}

p small {
    width: inherit !important;
}

.iconholder i {
    padding: 5px;
}

.iconholder a {
    text-decoration: none;
    color: white !important;
}